<div class="collapse" open={{this.isOpen}} data-test-collapse ...attributes>

  <div class="collapse-summary" {{on "click" this.toggle}} data-test-collapse-summary>
    {{@title}}
    <span class="collapse-icon">►</span>
  </div>

  <div
    class="collapse-content"
    {{animate-height isOpen=this.isOpen}}
    data-test-collapse-content
  >
    {{yield}}
  </div>

</div>