{{page-title "Home"}}

<section class="card play-now">
  <h2>Play now</h2>
  {{#each @model.playNow as |album|}}
    <AlbumCard @album={{album}}>
      <LinkTo class="button" @route="album" @model={{album.id}}>Go to album</LinkTo>
    </AlbumCard>
  {{/each}}
</section>

<section class="card">
  <h2>New albums</h2>
  {{#each @model.new as |album|}}
    <Collapse @title="{{album.name}} - {{album.artist.name}}">
      <p>
        {{album.description}}
      </p>
      <p>
        <LinkTo class="button" @route="album" @model={{album.id}}>Go to album</LinkTo>
      </p>
    </Collapse>
  {{/each}}
</section>
